{% extends 'layout.html' %}
{% import 'forms.html' as forms %}

{% block body %}
<img class="img-rounded" src="http://upload.wikimedia.org/wikipedia/commons/6/64/Mushroom_cap_morphology2.png" width="800" height="1200" align="middle">
<BR>
  <form class="form-horizontal" role="form" method="POST">
    {{ form.hidden_tag() }}
    {{ forms.text_field(form.color) }}
    {{ forms.text_field(form.shape) }}
    {{ forms.text_field(form.gill) }}
    {{ forms.text_field(form.surface) }}
    {{ forms.submit_button('Identify mushroom') }}
  </form>
{% endblock %}
