<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/favicon.png">

    <title>Fungitrack</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- Suppress shitty IE compat -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  </head>

  <body>
    {% include 'navbar.html' %}

    <div class="container">
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}


      {% block body %}
      <div class="jumbotron">
        <h1>Example Page</h1>
        <p class="lead">This is just an example page. The layout is bootstrap, which is a pretty cool system for making webpages quickly that don't look terrible. It also has the fancy advantage of working nicely on phones and whatnot. Bootstrap comes with a huge array of styled widgets, visuals, template examples, and documentation.</p>
        <p>Bootstrap makes HTML design easy!</p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Python</h4>
          <p>Programming language with good documentation, multiple paradigm support, a short learning curve, and excellent libraries.</p>

          <h4>Flask</h4>
          <p>Minimalist python web library which support quick iteration and minimal code to get up and running.</p>

          <h4>Jinja2</h4>
          <p>Common templating language for python that comes with Flask, which allows you to have all the convenience of declarative HTML construction.</p>

          <h4>Pip</h4>
          <p>Python package management system. Installing it can be a bit of a hassle, but once you are done, a simple "pip install -r requirements.txt" ensures you have all the libraries needed to run code.</p>
        </div>

        <div class="col-lg-6">
          <h4>MySQL</h4>
          <p>... not my first choice, but easy to deal with since he is providing us with the DB I guess? For now, SQLite will suffice.</p>

          <h4>MySQL-connector-python</h4>
          <p>A pure python implementation of a MySQL connector, and therefore easy to import</p>

          <h4>Git + Github</h4>
          <p>A preeminent platform for distributed version control. Make an account and I will give you push privilages.</p>

          <h4>Mushrooms</h4>
          <p>Nom nom nom nom nom nom nom nom nom nom nom nom nom nom nom nom nom nom nom nom nom nom nom nom nom nom nom nom nom nom nom.</p>
        </div>
      </div>
      {% endblock %}
      <div class="footer">
        <p>&copy; Jakub Gedeon</p>
      </div>
    </div>

    <!-- External Javascript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>

