<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/favicon.png">

    <title>Fungitrack</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- Suppress shitty IE compat -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  </head>

  <body>
    {% include 'navbar.html' %}

    <div class="container">
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}


      {% block body %}
        (Empty default layout page)
      {% endblock %}
      <div class="footer">
        <p><small>&copy; Jakub Gedeon, Hunter Lapp, Reed Witherspoon </small></p>
      </div>
    </div>

    <!-- External Javascript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>

