{% extends 'layout.html' %}

{% block body %}
  <h3> {{ mushroom.genus }}, {{ mushroom.species }}
   {% if mushroom.variety %}
     ({{ mushroom.variety }})
   {% endif %}
  </h3>

  <p> {{ mushroom.description}} </p>
  <p><a href="{{ mushroom.link }}">Click here for more details</a></p>
  
  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <td> Edible </td>
        <td> {{ mushroom.edible }} </td>
      </tr>
      {% if mushroom.color %}
      <tr>
        <td> Spore color </td>
        <td> {{ mushroom.color }} </td>
      </tr>
      {% endif %}
      {% if mushroom.shape %}
      <tr>
        <td> Cap shape </td>
        <td> {{ mushroom.shape }} </td>
      </tr>
      {% endif %}
      {% if mushroom.gill %}
      <tr>
        <td> Gill attatchment </td>
        <td> {{ mushroom.gill }} </td>
      </tr>
      <tr>
      {% endif %}
      {% if mushroom.surface %}
        <td> Spore surface </td>
        <td> {{ mushroom.surface }} </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  <div>
  <h4> Recipes: </h4>
  <ol>
    {% for name, id in recipes %}
      <li><a href="/recipe/{{ id }}">{{ name }}</a></li>
    {% else %}
      (None)
    {% endfor %}
  </ol>
  </div>
{% endblock %}
